<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.7"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ANWIBA Java Tools"
            id="net.anwiba.eclipse">
      </category>
      <view
            name="Project Dependencies"
            icon="icons/sample.gif"
            category="net.anwiba.eclipse"
            class="net.anwiba.eclipse.project.dependency.view.DependenciesView"
            id="net.anwiba.eclipse.project.dependencies">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="net.anwiba.eclipse.project.dependencies">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
