<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.7"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="ANWIBA Java Tools"
            id="net.anwiba.eclipse">
      </category>
      <view 
         id="net.anwiba.eclipse.icons.view.GuiIconsView" 
         name="Gui Icons" 
         category="net.anwiba.eclipse"
         class="net.anwiba.eclipse.icons.view.GuiIconsView" 
         icon="resources/icons/emblems.png">
      </view>
   </extension>
</plugin>
